body {
    font-family: Oswald;
    font-weight: 300;
    font-size: 1.4rem;
    background-color: #444;
    color: #fff;
    text-align: center;

    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526); 
}

h1, h2 {
    font-weight: 300;
}